html, body {
    margin: 0;
    font-family: 'EB Garamond';
    font-size: 16px;
    overflow-y: scroll;
    color: #333;
}

.navbar {
    margin-top: 1rem;
    margin-bottom: 5rem;
    min-height: 50px !important;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-header {
    float: left;
    padding-top: 15px;
    text-align: center;
    width: 100%;
}

.navbar-nav {
    float: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none !important;
    color: #333;
    margin-top: 2rem;
    margin-bottom: 3em;
}

@media (min-width: 0px) {
    .navbar-nav { 
        font-size: 0.6rem !important;
    }
}

@media (min-width: 400px) {
    .navbar-nav {
        font-size: calc(0.6rem + 1vw) !important;
    }
}

@media (min-width: 1001px){
    .navbar-nav {
        font-size: 1.05rem !important;
    }
}


.navbar-nav li {
    display: inline-block;
}

.navbar-default .navbar-nav > li > a {
    padding: .25rem 0.6rem;
    margin-left: .25rem;
    margin-right: .25rem;
    background:#fff;
    text-decoration: none;
    color: rgba(37,53,69,1.0);
    font-weight: normal;
}

.navbar-default .navbar-nav > li > a:hover {
    text-decoration: none;
    color: #fff;
    background:rgba(67,83,99,1.0);
    font-weight: normal;
}

.navbar-default .navbar-nav > li.active > a {
    text-decoration: none;
    color: #fff;
    background: rgba(37,53,69,1.0);
    font-weight: normal;
}

.navbar-default .navbar-nav > li.active > a:hover {
    text-decoration: none;
    color: #fff;
    background:rgba(67,83,99,1.0);
    font-weight: normal;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-bold {
    font-weight: normal;
}

.entry-content {
    padding-bottom: 10px !important;
}

h1 {
    color: #333;
    /*border-bottom: 8px solid rgba(28,232,181,0.6);*/
    display: table;
    /*padding-top: .5em;*/
    margin-bottom: 0.8em;
    line-height: 1.5;
}

@media (min-width: 0px) {
    h1 { font-size: 0.8rem !important; }
}

@media (min-width: 400px) {
    h1 { font-size: calc(0.8rem + 1vw) !important; }
}

@media (min-width: 1001px){
    h1 { font-size: 1.4rem !important; }
}

h1.navbar-brand {
    float: none;
    letter-spacing: 0.3em !important;
    border-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    display: inline;
    /*padding-top: .5em;*/
}

@media (min-width: 0px) {
    h1.navbar-brand { font-size: 1rem !important; }
}

@media (min-width: 400px) {
    h1.navbar-brand { font-size: calc(1rem + 1vw) !important; }
}

@media (min-width: 1001px){
    h1.navbar-brand { font-size: 1.75rem !important; }
}

@media (min-width: 0px) {
    h2 { font-size: 0.7rem !important; }
}

@media (min-width: 400px) {
    h2 { font-size: calc(0.7rem + 1vw) !important; }
}

@media (min-width: 1001px){
    h2 { font-size: 1.225rem !important; }
}

p {
    margin: 0 0 0.5%;
}

/* RESPONSIVE TEXT SIZE */
@media (min-width: 0px) {
    p { font-size: 0.6rem; }
    .journal p { font-size: 0.4rem; }
    li { font-size: 0.6rem; }
    .readmore { font-size: 0.6rem; }
    .article-link { font-size: 0.6rem; }
}

@media (min-width: 400px) {
    p { font-size: calc(0.6rem + 1vw); }
    .journal p { font-size: calc(0.4rem + 1vw); }
    li { font-size: calc(0.6rem + 1vw); }
    .readmore  { font-size: calc(0.6rem + 1vw); }
    .article-link { font-size: calc(0.6rem + 1vw); }
}

@media (min-width: 1001px){
    p { font-size: 1.05rem; }
    .journal p { font-size: 0.7rem; }
    li { font-size: 1.05rem; }
    .readmore { font-size: 1.05rem; }
    .article-link { font-size: 1.05rem; }
}

@media (min-width: 0px) {
    label { font-size: 0.6rem; }
}

@media (min-width: 400px) {
    label { font-size: calc(0.6rem + 1vw); }
}

@media (min-width: 1001px){
    label { font-size: 1.05rem; }
}


/* JOURNAL */
.journal h1 {
    font-family: 'Futura', 'Trebuchet MS', 'Arial', 'sans-serif';
    font-weight: 100;
    letter-spacing: .1em;
}

.journal p {
    font-family: 'Futura', 'Trebuchet MS', 'Arial', 'sans-serif';
    font-weight: 50 !important;
    letter-spacing: .1em;
    line-height: 1.8;
}

/* LINKS */
a:link {
    color: rgba(37,53,69,1.0);
    display: inline;
    border-bottom: 0;
    text-decoration: underline;
}

a:visited {
    color: rgba(37,53,69,1.0);
    display: inline;
    border-bottom: 0;
    text-decoration: underline;
}

a:hover {
    color: rgba(67,83,99,1.0);
}

h1 a:link {
    text-decoration: none !important;
    color: #333;
}

h1 a:visited {
    text-decoration: none !important;
    color: #333;
}

li a:link {
    color: rgba(37,53,69,1.0);
    display: inline;
    border-bottom: 0;
    text-decoration: underline;
}

li a:visited {
    color: rgba(37,53,69,1.0);
    display: inline;
    border-bottom: 0;
    text-decoration: underline;
}

ul li a:hover {
    color: rgba(67,83,99,1.0);
}

h1, h2, h3, h4, .navbar-brand {
    font-family: 'EB Garamond';
    color: #333;
    font-weight: normal;
    margin-top: 1%;
    margin-bottom: 0.5%;
}

label.tag {
    color: #fff;
    background: rgba(37,53,69,1.0);
    padding-left: 6px;
    padding-right: 6px;
}

.item img {
    height: 450px !important;
    width: 850px !important;
}

.blog-footer {
    margin-top: 1.2vw;
}

@media (min-width: 0px) {
    .blog-footer { font-size: 0.5rem; }
}

@media (min-width: 400px) {
    .blog-footer { font-size: calc(0.5rem + 1vw); }
}

@media (min-width: 1001px){
    .blog-footer { font-size: 0.875rem; }
}

article {
    margin-bottom: 1rem;
    overflow-y: hidden;
}

.col-md-8 {
    margin-right: 5%;
}

.page {
    margin-top: 3rem;
}

/* IMAGES */
img[alt=img-thumbnail] {
    /*display: block;*/
    margin-left: auto;
    margin-right: 10px;
    object-fit: cover;
    filter: saturate(50%);
}

@media (min-width: 0px) {
    img[alt=img-thumbnail] { width: 35%; height: 8rem; }
}

@media (min-width: 400px) {
    img[alt=img-thumbnail] { width: 35%; height: 12rem; }
}

@media (min-width: 1001px){
    img[alt=img-thumbnail] { width: 35%; height: 12rem; }
}

img[alt=img-banner] {
    /*display: block;
    margin-left: auto;*/
    margin-right: auto;
    width: 100%;
    height: 15vw;
    object-fit: cover;
    filter: saturate(50%);
}

img[alt=img-half-width] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 50%;
    height: auto;
    filter: saturate(50%);
}

img[alt=img-quart-width] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 25%;
    height: auto;
    filter: saturate(50%);
}

img[alt=img-float-right] {
    display: block;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 10%;
    max-width: 50%;
    height: auto;
    filter: saturate(75%);
    float: right;
}

img[alt=img-full-width] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    /*width: 100%;*/
    max-width: 100%;
    height: auto;
    filter: saturate(75%);
}

/* ICONS */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Instagram */
.fa-instagram {
    background: none;
    color: rgba(37,53,69,1.0);;
}
